.social-login
    button.social-login--github(type="button")
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with github
    button.social-login--facebook(type="button")
        span
            i.fab.fa-facebook
        |Continue with facebook