doctype html
html
    head
        title #{pageTitle} | #{siteName}
        script(src="https://kit.fontawesome.com/3144c2095e.js", crossorigin="anonymous")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer